* {
  color: black;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 40px;
  background-color: whitesmoke;
}

header,
nav,
main,
footer {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav li a:hover {
  background-color: goldenrod;
}

nav li a:visited,
a:active {
  color: black;
}

a {
  text-decoration: none;
  color: #333;
}

footer :hover {
  color: goldenrod;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 5px;
}

h1 img {
  border-radius: 50%;
  background-color: #f9f9f9;
  color: black;
}

#media-list ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.highlight {
  color: darkcyan;
  font-style: italic;
}