body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f9f9f9;
}

header, nav, main, footer {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

th, td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 5px;
}
h1 img {
    border-radius: 50%;
}
/* ul {
    list-style-type: none;
    
} */

#media-list ul {
    list-style-type: none;
      padding-left: 0;        /* removes default indentation */
      margin-left: 0;         /* optional: remove extra left margin */
      display: flex;          /* optional: align items horizontally */
      flex-direction: column; /* stack items vertically */
      gap: 20px;
}

